<div class="container-fluid">
  <!-- Encabezado estilizado -->
  <div class="page-header mb-5 text-center">
    <h1 class="page-title f-w-600" style="color: #1268c4;">¡Bienvenido a Convivo!</h1>
    <p class="lead mt-3">Simplifica tu convivencia en tu conjunto</p>
  </div>

  <!-- Contenido central -->
  <div class="row justify-content-center" style="min-height: 60vh;">
    <div class="col-lg-8 col-md-10">
      <mat-card class="cardWithShadow theme-card text-center p-4" style="line-height: 1;">
        <mat-card-content>
          <h1 class="mb-4 f-w-600">Unifica las necesidades de un buen propietario</h1>
          <p class="fs-5" style="font-size:x-large; line-height: 1;">
            Accede un <strong>espacio comun</strong> de tu interes y reservalo desde la aplicacion
          </p>
          <p class="fs-5" style="font-size:x-large; line-height: 1;">
            Haz el pago de la administracion, y guarda tus datos bancarios para facilitar tus siguientes pagos
          </p>
          <p class="fs-5" style="font-size:x-large; line-height: 1;">
            Si ocurre una eventualidad con un residente, crea un comentario sobre el, notificando al administrador para una resolucion satisfactoria
          </p>
          <p class="fs-5" style="font-size:x-large; line-height: 1;">
            Ademas, estos comentarios ayudan a formar la imagen de tus vecinos, asi como la tuya tambien puede verse afectada
          </p>

          <div class="mt-5">
            <button mat-stroked-button color="accent" routerLink="" style="margin-right: 12px; color: #1268c4;">
              Pagar administracion
            </button>
            <button mat-stroked-button color="accent" routerLink="" style="margin-right: 12px; color: #1268c4;">
              Reservar un espacio
            </button>
            <button mat-stroked-button color="accent" routerLink="" style="margin-right: 12px; color: #1268c4;">
              Crear un comentario
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>