<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img src="./assets/images/logos/logo.svg" class="align-middle m-2" alt="logo" />
            </a>
          </div>

          <div class="or-border m-t-30">Restablecer Contraseña</div>

          <form class="m-t-30" *ngIf="tokenValido && form" [formGroup]="form" (ngSubmit)="submit()">

            <!-- Contraseña -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Nueva Contraseña</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" placeholder="Ingrese su nueva contraseña" formControlName="password">
              <mat-error *ngIf="form.get('password')?.hasError('required')">La contraseña es obligatoria</mat-error>
              <mat-error *ngIf="form.get('password')?.hasError('pattern')">
                Debe tener mínimo 8 caracteres, una mayúscula y un número
              </mat-error>
            </mat-form-field>

            <!-- Confirmación de Contraseña -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Confirmar Contraseña</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" placeholder="Confirme su nueva contraseña" formControlName="nPassword">
              <mat-error *ngIf="form.get('nPassword')?.hasError('required')">
                Debe confirmar la contraseña
              </mat-error>
              <mat-error *ngIf="form.hasError('passwordMismatch') && form.get('nPassword')?.touched">
                Las contraseñas no coinciden
              </mat-error>
              <mat-error *ngIf="form.hasError('noPassError') && form.get('nPassword')?.touched">
                Ingrese una contraseña válida primero
              </mat-error>
            </mat-form-field>

            <!-- Botón -->
            <button mat-flat-button color="primary" class="w-100" type="submit" [disabled]="form.invalid || !tokenValido">
              Restablecer
            </button>
          </form>

          <span class="d-block f-w-500 text-center m-t-24">
            ¿Recordaste tu contraseña?
            <a [routerLink]="['/authentication/login']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Inicia Sesión
            </a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
