<div class="container-fluid">
  <!-- Encabezado estilizado -->
  <div class="page-header mb-5 text-center">
    <h1 class="page-title f-w-600" style="color: #1268c4;">¡Bienvenido a Convivo!</h1>
    <p class="lead mt-3">Administre su conjunto de forma amigable</p>
  </div>

  <!-- Contenido central -->
  <div class="row justify-content-center" style="min-height: 60vh;">
    <div class="col-lg-8 col-md-10">
      <mat-card class="cardWithShadow theme-card text-center p-4" style="line-height: 1;">
        <mat-card-content>
          <h1 class="mb-4 f-w-600">Tenga control sobre su conjunto y residentes</h1>
          <p class="fs-5" style="font-size:x-large; line-height: 1;">
            Cree horarios para sus <strong>espacios comunes</strong> y facilite a su comunidad la reserva de estos.
          </p>
          <p class="fs-5" style="font-size:x-large; line-height: 1;">
            Regule los <strong>pagos de administracion</strong> de sus residentes, creando un cobro para todos y revisando cuales residentes tienen mora en sus pagos
          </p>
          <p class="fs-5" style="font-size:x-large; line-height: 1;">
            Revise los <strong>comentarios</strong> hechos hacia un residente, conociendo mejor el contexto de cada residente para estar atento a cualquier eventualidad
          </p>

          <div class="mt-5">
            <button mat-stroked-button color="accent" routerLink="" style="margin-right: 12px; color: #1268c4;">
              Ver Vecinos
            </button>
            <button mat-stroked-button color="accent" routerLink="" style="margin-right: 12px; color: #1268c4;">
              Generar Cobro
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>