<!-- src/app/layouts/full/sidebar/sidebar.component.html -->
<div class="d-flex align-items-center justify-content-between">
  <div class="branding">
    <app-branding></app-branding>
  </div>

  @if(showToggle) {
    <a href="javascript:void(0)" (click)="toggleMobileNav.emit()"
      class="d-flex justify-content-center icon-40 align-items-center">
      <i-tabler name="x" class="icon-20 d-flex"></i-tabler>
    </a>
  }
</div>

<!-- Menú dinámico -->
<div class="mt-3">
  <ng-container *ngFor="let item of navItems">
    <!-- Sección -->
    <div *ngIf="item.navCap" class="nav-section text-muted px-3 mt-3">
      {{ item.navCap }}
    </div>

    <!-- Divisor -->
    <mat-divider *ngIf="item.divider"></mat-divider>

    <!-- Enlace -->
    <a *ngIf="item.displayName"
   [routerLink]="item.route"
   class="d-flex align-items-center px-3 py-2 nav-link text-decoration-none">
  <i-tabler *ngIf="item.iconName" [name]="item.iconName" class="me-2"></i-tabler>
  {{ item.displayName }}
    </a>
  </ng-container>
</div>
